NASA Mars News

In [32]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
latest_news = soup.find_all("div", class_="content_title")[0]

In [6]:
latest_news_title = latest_news.text
latest_news_title

'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities'

In [7]:
paragraph = soup.find_all("div", class_="article_teaser_body")[0]

In [8]:
latest_news_paragraph = paragraph.text
latest_news_paragraph

'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.'

In [9]:
browser.quit()

JPL Mars Space Images - Featured Image

In [10]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [12]:
html = browser.html
soup = bs(html, "html.parser")

In [13]:
img = [i.get("src") for i in soup.find_all("img", class_="headerimage fade-in")]
img[0]

'image/featured/mars1.jpg'

In [14]:

featured_image_url = url + img[0]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [15]:
browser.quit()

Mars Facts

In [16]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [17]:
url = "https://galaxyfacts-mars.com/"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [18]:
table = soup.find_all("table", class_="table")[0]
table

<table class="table">
<tbody>
<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>
<tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>
<tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>
<tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>
<tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>
</tbody>
</table>

In [19]:
type(table)

bs4.element.Tag

In [20]:
table_header = [i.text for i in table("th")]
table_header

[' Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [21]:
mars_column = [i.text for i in table("span", class_="orange")]
mars_column

[' Mars',
 '6,779 km',
 '6.39 × 10^23 kg ',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C']

In [22]:
earth_column = [i.text for i in table("span", class_="purple")]
earth_column

[' Earth ',
 '12,742 km',
 '5.97 × 10^24 kg',
 '1',
 '149,598,262 km',
 '365.24 days',
 '\t-88 to 58°C']

In [26]:
table_df = {"Description": table_header, "Mars": mars_column, "Earth": earth_column}

In [27]:
df = pd.DataFrame(table_df)
df.set_index("Description", inplace=True)

In [28]:
df["Earth"] = df["Earth"].str.replace("\t", "")

In [29]:
df

                                      Mars            Earth
Description
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C      -88 to 58°C

In [50]:
comparison_table = df.to_html(classes="table table-bordered")

In [51]:
print(comparison_table)

<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

Mars Hemispheres

In [33]:
url = "https://marshemispheres.com/"
url_path = requests.get(url)

In [34]:
soup = bs(url_path.content)

In [35]:
div_item = soup.find_all("div", class_="item")

In [36]:
links = []
for i in div_item:
    for a in i.find_all('a', href=True): 
        if a.text:
            links.append(a['href'])

In [37]:
full_links = [url + i for i in links]
full_links

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [38]:
def extract_image(url):
    response = requests.get(url)
    soup = bs(response.text, "html.parser")
    image = soup.find_all("img", class_="wide-image")
    img = [i.get("src") for i in image]
    return "https://marshemispheres.com/" + img[0]

In [39]:
img_url = [extract_image(i) for i in full_links]
img_url

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [40]:
def image_title(url):
    response = requests.get(url)
    soup = bs(response.text, "html.parser")
    title = soup.find_all("h2", class_="title")
    title_text = [i.text for i in title]
    return title_text[0]

In [41]:
title = [image_title(i) for i in full_links]
title

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [42]:
list_tups = list(zip(title, img_url))
list_tups

[('Cerberus Hemisphere Enhanced',
  'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'),
 ('Schiaparelli Hemisphere Enhanced',
  'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'),
 ('Syrtis Major Hemisphere Enhanced',
  'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'),
 ('Valles Marineris Hemisphere Enhanced',
  'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg')]

In [43]:
def get_dict_list(keys, list_of_tups):
    list_of_dict = [dict(zip(keys, values)) for values in list_of_tups]
    return list_of_dict

In [44]:
keys = ("title", "img_url")
hemisphere_image_urls = get_dict_list(keys, list_tups)

In [45]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]